// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: false;

// Insert your custom variables here.
//$base-color: #bfbfff;
//$base-gradient: 'glossy' !default;
$font-family: 'Neuton';
$font-size: 14px; 

//$form-field-background-color: #cfcfcf;
//$form-field-color: #00002f;
//$form-label-background-color: #1f1f1f;
//$form-label-color: #dfdfff;
//$form-radio-background-color: #efdfbf;
//$form-radio-color: #00002f;
//$fieldset-header-line-height: 20px;

//$panel-body-background-color: #ffefdf;
$panel-body-font-size: $font-size;
$form-font-size: $font-size;
$form-label-font-size: $font-size;
$form-radio-font-size: $font-size;
$fieldset-font-size: $font-size;


.x-grid-cell-inner {
  overflow: auto !important;
  white-space: normal !important;
}

//---------------------------------------------------------
@import 'ext4/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include extjs-boundlist;
@include extjs-button;
@include extjs-btn-group;
@include extjs-datepicker;
@include extjs-colorpicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
    @include extjs-form-field;
    @include extjs-form-fieldset;
    @include extjs-form-file;
    @include extjs-form-checkboxfield;
    @include extjs-form-checkboxgroup;
    @include extjs-form-triggerfield;
    @include extjs-form-htmleditor;
@include extjs-panel;
@include extjs-qtip;
@include extjs-slider;
@include extjs-progress;
@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
@include extjs-tabbar;
@include extjs-tab;
@include extjs-tree;
@include extjs-drawcomponent;
@include extjs-viewport;
