*.class
*.pyc
*.pyo
src/assessor/deploy-static
src/Assessor/static/extjs
src/Assessor/static/sencha-touch
src/Assessor/static/extjs-4.1.0
src/Assessor/static/sencha-touch
src/Assessor/static/sencha-touch-2.0.1
src/Assessor/static_extjs.tar.bz2
src/Assessor/static/extjs-4.1.1-rc1
src/Assessor/static/extjs-4.1.0
src/Assessor/static/extjs
src/Assessor/extjs-static.tar.bz2
src/Assessor/static/backbone
src/Assessor/static/jquery-ui
src/Assessor/static/underscore
src/Assessor/static/extjs-4.1.1-rc1
src/Assessor/static/extjs-4.1.0
src/Assessor/static/extjs
src/assessor_20120522164601.db
src/assessor.db
src/assessor_20120522164601.db
src/Assessor/question-data
src/Assessor/answer-data
src/Assessor/data
src/Assessor/quiz2
src/Assessor/fixtures/quiz1
src/Assessor/fixtures/quiz2
src/Assessor/fixtures/quiz3
src/Assessor/fixtures/quiz4
src/assessor.db
src/Assessor/static/extjs-4.1.1
src/dist
src/build
src/dist
src/build
src/MANIFEST
src/Assessor/uwsgi-Assessor.log
src/Assessor/cherokee.log
src/Assessor/uwsgi.log
src/Assessor/nginx-error.log
src/Assessor/nginx-access.log
src/Assessor/nginx-error.log
src/Assessor/backup.db
src/Assessor.db
src/Assessor.log
