*.class
*.pyc
*.pyo
src/assessor/deploy-static
src/Assessor/static/extjs
src/Assessor/static/sencha-touch
src/Assessor/static/extjs-4.1.0
src/Assessor/static/sencha-touch
src/Assessor/static/sencha-touch-2.0.1
src/Assessor/static_extjs.tar.bz2
